.center {
    margin: auto;
    width: 12%;
    border: 3px solid grey;
    padding: 2% 2%;
}

.text, .button {
    text-align: center;
}

#link {
    color: red;
}

#header {
    text-align: center;
}
